@import "../../GlobalStyle/GlobalStyle.scss";

.fullcard{
  display: flex;
align-items: center;
  justify-content: space-between;
  @media screen and (max-width:768px) {
    flex-direction: column;
    align-items: flex-end;
    
  }

&__titre{
  display: flex;
 flex-direction: column;
}}

.collapse__detail {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 29px;

  .collapse__desc {
    display: flex;
    flex-direction: column;
  }
  .collapse__equi {
    display: flex;
    flex-direction: column;
    ul {
      list-style-type: none;
    }
  }

  .collapse__header {
    width: 585px;
    height: 52px;
    border-radius: 5px;
  }

  .collapse__title {
    font-size: $secondary-size;
  }

  @media screen and (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .collapse__header {
      width: 335px;
      height: 30px;
    }
    .collapse__title {
      font-size: $quaternaire-size;
    }
    .collapse__content {
      font-size: $quaternaire-size;
    }
  }
}
