@import "../../GlobalStyle/GlobalStyle.scss";

.about {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  padding: 30px 50px;
  overflow: hidden;
  position: relative;
  &__img {
    height: 200px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;
    position: relative;
    filter: brightness(60%);
  }

}
