$primary-color:black;
$secondary-color:#FF6060;

$primary-font: 'Montserrat', sans-serif;


$primary-size:24px;
$secondary-size:18px;
$tertiary-size:14px;
$quaternaire-size:12px;

$primary-weight: 500;