// Style du composant Cards

@import "../../GlobalStyle/GlobalStyle.scss";

.cards {
  display: flex;
  flex-wrap: wrap;
  background: #f6f6f6;
  border-radius: 25px;
  gap: 27px;
  justify-content: space-evenly;
  padding: 41px;
  margin-top: 40px;
  @media screen and (max-width:768px) {
    &{
      background: none;
      padding: 0%;
    }
}}

.card {
  font-family: $primary-font;
  font-size: $secondary-size;
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__title {
    color: $tertiary-color;
    position: absolute;
    top: 79%;
    left: 7%;
    z-index: 2;
  }
  @media screen and (max-width:768px) {
    &{
width: 335px;
height: 255px;
    }
  }
}
