// Style du composant Header
@import "../../GlobalStyle/GlobalStyle.scss";

.header {
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  color: $primary-color;
  font-family: $primary-font;
  .logo {
    display: block;
  }
  .logoMobile {
    display: none;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  &__link {
    margin: 10px;
    color: $primary-color;
    text-decoration: none;
    margin-left: 40px;
    font-size: $primary-size;
    font-weight: $primary-weight;

    &.active-link {
      border-bottom: 2px solid $primary-color; /* barre sous le lien actif */
    }
  }
  @media screen and (max-width: 768px) {
  .logo {
      display: none !important;
    }
    .logoMobile {
      display: block !important;
    }
    &__link {
      font-size: $quaternaire-size;
      text-transform: uppercase;
      margin-left: 20px;
    }
  }
}
