// Création du style du Banner
@import "../../GlobalStyle/GlobalStyle.scss";

.banner {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  &__img {
    height: 200px;
    width: 1240px;
    border-radius: 25px;
    object-fit: cover;
    position: relative;
  
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
    font-size: 48px;
    font-family: $primary-font;
    font-weight: 600;
  }
@media screen and (max-width:768px){
  &__img{
height: 111px;
  }
  &__text{
    font-size: $primary-size;
    width: 225px;
  }
}
}
